@import 'syntax';

.post-notice {
  margin-top: 2em;
  padding: 0.8em 1em;
  border-top: 1px solid rgba($light-color, 0.15);
  font-size: 0.95em;
  color: rgba($light-color, 0.5);
  text-align: center;

  a {
    color: rgba($primary-color, 0.7);
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  .post-copyright {
    margin-top: 0.5em;
  }
}

.post-footer {
  padding-top: 1.5em;
  border-top: 1px solid rgba($light-color, 0.15);

  .giscus-comments {
    margin-top: 0.5em;
  }
}

.highlight {
  position: relative;

  .cl {
    color: #cccccc;
  }

  .ln {
    color: rgba($light-color, 0.3);
    user-select: none;
    margin-right: 1em;
  }

  code:not([data-lang]) .ln,
  code[data-lang="shell"] .ln {
    display: none;
  }

  .code-copy-btn {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    z-index: 1;
    padding: 0.2em 0.5em;
    border: 1px solid rgba($light-color, 0.3);
    border-radius: 4px;
    background: rgba($darkest-color, 0.8);
    color: $light-color;
    font-size: 0.75em;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      background: rgba($primary-color, 0.3);
      border-color: rgba($primary-color, 0.6);
    }
  }

  &:hover .code-copy-btn {
    opacity: 1;
  }
}
