{{ define "main" }}
  <article>
    <div class="posts-tabs-nav">
      <span class="posts-tab-nav-btn active">{{ i18n "latest_posts" }}</span>
      <a class="posts-tab-nav-btn" href="{{ "/popular/" | relLangURL }}">{{ i18n "popular_posts" }}</a>
    </div>

    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    {{ $allPages := where .Site.RegularPages "Type" "notion" }}
    {{ $latestPages := first 20 $allPages }}
    {{ if $latestPages }}
    <div class="posts-card-grid">
      {{ range $latestPages }}
      {{- $post := . -}}
      {{- $thumbPost := $post -}}
      {{- if ne $post.Language.Lang (index $.Site.Languages 0).Lang -}}
        {{- range $post.AllTranslations -}}
          {{- if eq .Language.Lang (index $.Site.Languages 0).Lang -}}{{- $thumbPost = . -}}{{- end -}}
        {{- end -}}
      {{- end -}}
      <a class="post-card{{ if not $thumbPost.Params.images }} post-card--no-thumb{{ end }}" href="{{ $post.RelPermalink }}">
        {{- with $thumbPost.Params.images }}
        <div class="post-card-thumbnail">
          {{ partial "image-thumb.html" (dict "page" $thumbPost "imgPath" (index . 0)) }}
        </div>
        {{- end }}
        <div class="post-card-body">
          <span class="post-card-title">{{- .Title -}}</span>
          {{ with .Description | default .Summary }}<span class="post-card-summary">{{ . | plainify | truncate (cond (not $post.Params.images) 500 200) }}</span>{{ end }}
          <div class="post-card-footer">
            {{- with $post.GetTerms "categories" }}
            <span class="post-card-category">
              {{- range . }}{{ .Title }}{{- end }}
            </span>
            {{- end }}
            <span class="post-card-date">
              {{- if eq .Language.Lang "en" }}
              {{ .PublishDate.Format "Jan 2, 2006" }}
              {{- else if eq .Language.Lang "ja" }}
              {{ .PublishDate.Format "2006/01/02" }}
              {{- else }}
              {{ .PublishDate.Format "2006-01-02" }}
              {{- end }}
            </span>
          </div>
        </div>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </article>
{{ end }}
