{{ define "main" }}
  <article>
    {{ with .Title -}}<h1>{{- . -}}</h1>{{- end }}
    {{ with .Content -}}<div class="post-content">{{- . -}}</div>{{- end }}
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        {{- $post := . }}
        <li class="posts-list-item">
          <a class="posts-list-item-link" href="{{ .RelPermalink }}">
            <div class="posts-list-item-thumbnail">
              {{- with .Params.images }}
              {{- $langPrefix := printf "/%s/" $post.Language.Lang -}}
              {{- $imgBase := $post.RelPermalink | strings.TrimPrefix $langPrefix | printf "/ko/%s" -}}
              <img src="{{ $imgBase }}{{ index . 0 }}" alt="" loading="lazy">
              {{- else }}
              <img src="{{ $.Site.Params.avatar }}" alt="" loading="lazy">
              {{- end }}
            </div>
            <div class="posts-list-item-body">
              {{- with $post.GetTerms "categories" }}
              <div class="posts-list-item-category">
                {{- range . }}[{{ .Title }}]{{- end }}
              </div>
              {{- end }}
              <div class="posts-list-item-title">{{- .Title -}}</div>
              <span class="posts-list-item-description">
                {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
                {{- if eq .Language.Lang "en" }}
                {{ .PublishDate.Format "Jan 2, 2006" }}
                {{- else if eq .Language.Lang "ja" }}
                {{ .PublishDate.Format "2006/01/02" }}
                {{- else }}
                {{ .PublishDate.Format "2006-01-02" }}
                {{- end }}
                {{- if eq .Language.Lang "en" }}
                <span class="posts-list-item-separator">-</span>
                {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
                {{ .ReadingTime }} min read
                {{- end }}
              </span>
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
